<!DOCTYPE html>
<html>
   <head>
      <title>Hello world</title>
   </head>
   <script src = "socket.io/client-dist/socket.io.js"></script>
   
   <script>
       console.log(process.cwd());
      const socket = io();
   </script>
   <body>Hello</body>
</html>